<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POM FACTORY Testing">
    <listeners>
        <listener class-name="lucy_pom_factory_test.listeners.*"></listener>
        <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
    </listeners>
</suite> <!-- Suite -->
