<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Testing">
    <test name="Suite1">
        <classes>
            <class name="CucumberTraining.runners.testng_runner"></class>
        </classes>
    </test>
</suite> <!-- Suite -->
