<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POM Testing">
    <listeners>
        <listener class-name="lucy_pom_test.listeners.POM_Listener"></listener>
        <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
    </listeners>

    <test name="Login Test">
        <classes>
            <class name="lucy_pom_test.testcases.LoginTest"></class>
        </classes>
    </test>
</suite> <!-- Suite -->
